@tailwind base;
@tailwind components;
@tailwind utilities;

.swap-animation {
    animation: swap 0.5s ease-in-out;
}

@keyframes swap {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.compare-animation {
    background-color: black !important;
    color: white;
}
